<?xml version="1.0"?>
<robot name="depthai_camera"
	xmlns:xacro="http://ros.org/wiki/xacro">

	<!--
	  Custom OAK-D-S2 camera macro for pt100 only.
	  This version allows direct color parameterization (r/g/b/a) for the mesh material.
	-->

	<xacro:macro name="oakd_s2_camera"
		params="camera_name parent base_frame 
											   cam_pos_x cam_pos_y cam_pos_z 
											   cam_roll cam_pitch cam_yaw 
											   r:=0.1 g:=0.1 b:=0.1 a:=1.0 simulation:=false 
											   imu_frame:=oak_imu_frame">

		<!-- File prefix for mesh location -->
		<xacro:if value="${simulation}">
			<xacro:property name="mesh_path" value="file://$(find lekiwi_description)/meshes/pantilt/oakd_s2.stl" />
		</xacro:if>
		<xacro:unless value="${simulation}">
			<xacro:property name="mesh_path" value="package://lekiwi_description/meshes/pantilt/oakd_s2.stl" />
		</xacro:unless>

		<!-- base_link of the sensor-->
		<link name="${base_frame}" />
	
		<xacro:property name="M_PI" value="3.1415926535897931" />

		<joint name="${camera_name}_center_joint" type="fixed">
			<parent link="${parent}" />
			<child link="${base_frame}" />
			<origin xyz="${cam_pos_x} ${cam_pos_y} ${cam_pos_z}"
				rpy="${cam_roll} ${cam_pitch} ${cam_yaw}" />
		</joint>
		
		<!-- IMU frame -->
		<link name="${imu_frame}"/>

		<joint name="${imu_frame}_joint" type="fixed">
			<parent link="${base_frame}" />
			<child link="${imu_frame}" />
			<origin xyz="-0.008 -0.037945 -0.00079" rpy="${M_PI} ${M_PI/2} 0"/>
		</joint>

		<!-- Device mesh with custom color -->
		<link name="${camera_name}_model_origin">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="${mesh_path}" />
				</geometry>
				<material name="mat">
					<color rgba="${r} ${g} ${b} ${a}" />
				</material>
			</visual>
		</link>

		<joint name="${camera_name}_model_origin_joint" type="fixed">
			<parent link="${base_frame}" />
			<child link="${camera_name}_model_origin" />
			<origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI/2}" />
		</joint>

	</xacro:macro>

</robot>
